<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>

<h1>Login</h1>
<div class="login-form">
    <div class="close"></div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"></div>
    <div class="portrait">
        <img th:src="@{images/portrait.png}"/>
    </div>
    <form th:action="@{/login}" method="post">
        <input type="text" class="text" name="username"/>
        <div class="key">
            <input type="password" name="password"/>
        </div>
        <div class="tip">
            <span  th:if="${param.logout}" class="bg-warning">已注销</span>
            <span th:if="${param.error}" class="bg-danger">有错误，请重试</span>
        </div>
        <div class="sign-in">
            <input type="submit" value="Login"/>
        </div>
    </form>
</div>
<div class="copy-rights">
    <p>Copyright &copy; 2015.Company name All rights reserved.More Templates </p>
</div>

</body>
</html>